.header {
    height: 23.5rem;
    background-color: $light-gray;
}

.header {
    .top_header {
        width: 100%;
        height: 4rem;
        background-color: $dark-green;
    }
}

.header {
    .bottom-header {
        height: 10rem;
        display: flex;
        align-items: center;
        background-color: $gray;
        a {
            color: white;
        }
        li:first-child {
            margin-left: 1rem;
        }
    }
}